# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
info = {"name":"Robb", "age":24, "city":"Texas"}
info

{'name': 'Robb', 'age': 24, 'city': 'Texas'}

2. Create a dictionary and print the value of a specific key.

In [2]:
info = {"name":"Robb", "age":24, "city":"Texas"}

print(info["name"])

Robb

3. Make a dictionary and add a new key-value pair to it.

In [4]:
info = {"name":"Robb", "age":24, "city":"Texas"}

info["country"] = "USA"

info

{'name': 'Robb', 'age': 24, 'city': 'Texas', 'country': 'USA'}

4. Create a dictionary and change the value of an existing key.

In [ ]:
info = {"name":"Robb", "age":24, "city":"Texas"}

info["city"] = "New York"
info

{'name': 'Robb', 'age': 24, 'city': 'New York'}

5. Create a dictionary and remove one key using pop().

In [8]:
input = {"id":5, "name":"john", "department":"Devops"}

print(input.pop("id"))
input

5

{'name': 'john', 'department': 'Devops'}

6. Create a dictionary and remove the last inserted item using popitem().

In [10]:
info = {"name":"Robb", "age":24, "city":"Texas"}

print(info.popitem())
info

('city', 'Texas')

{'name': 'Robb', 'age': 24}

7. Create a dictionary and print all the keys.

In [12]:
details = {"model": 123, "Company":"abc", "Price":20000}

details.keys()

dict_keys(['model', 'Company', 'Price'])

8. Create a dictionary and print all the values.

In [14]:
details = {"model": 123, "Company":"abc", "Price":20000}

details.values()

dict_values([123, 'abc', 20000])

9. Create a dictionary and print all the key-value items.

In [ ]:
details = {"model": 123, "Company":"abc", "Price":20000}

10. Make a dictionary and check the number of items using len().

In [15]:
details = {"model": 123, "Company":"abc", "Price":20000}

len(details)

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [16]:
input = {"id":5, "name":"john", "department":"Devops"}
print("name" in input)
print("city" in input)

True
False

12. Create an empty dictionary and add two key-value pairs one by one.

In [57]:
text = {}
text["sub"] = "English"
print(text)

text["marks"] = 90
print(text)

{'sub': 'English'}
{'sub': 'English', 'marks': 90}

13. Create a dictionary and update one keyâ€™s value using update().

In [61]:
set = {"id":5, "name":"john", "department":"Devops"}

set.update({"id": 6})

In [50]:
set = {"id":5, "name":"john", "department":"Devops"}
set.update({"id":7})
set

{'id': 7, 'name': 'john', 'department': 'Devops'}

14. Create two dictionaries and combine them using update().

In [42]:
set = {"id":5, "name":"john", "department":"Devops"}
stt1 = {"model": 123, "Company":"abc", "Price":20000}
set.update(stt1)
set

{'id': 5,
 'name': 'john',
 'department': 'Devops',
 'model': 123,
 'Company': 'abc',
 'Price': 20000}

15. Make a dictionary and get the value of a key using get().

In [35]:
info = {"name":"Robb", "age":24, "city":"Texas"}
info.get("name")

'Robb'

16. Create a dictionary and print its type using type().

In [33]:
input = {"id":5, "name":"john", "department":"Devops"}
type(input)

dict

In [ ]:
info = {"name":"Robb", "age":24, "city":"Texas"}

info["country"] = "USA"

info

{'name': 'Robb', 'age': 24, 'city': 'Texas', 'country': 'USA'}

17. Create a dictionary and replace one value with a new one.

In [32]:
survy = {"Name":"john", "Number":"1233456789"}

survy["Number"] = "84463675689"
survy

{'Name': 'john', 'Number': '84463675689'}

18. Create a dictionary and clear all items using clear().

In [28]:
input = {"id":5, "name":"john", "department":"Devops"}

input.clear()
input

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [63]:
dic = {1:"names", 2:"city"}
dic

{1: 'names', 2: 'city'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [26]:
details = {"model": 123, "Company":"abc", "Price":20000}
details2 = details.copy()
details2

{'model': 123, 'Company': 'abc', 'Price': 20000}