# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [5]:
roll = [1, 3, 4, 6, 9]
roll.append(5)
print(roll)

[1, 3, 4, 6, 9, 5]

2. Make a list of fruits and insert a fruit at the second position.

In [12]:
fruit = ["apple", "banana", "kiwi"]
fruit.insert(2, "Orange")
fruit

['apple', 'banana', 'Orange', 'kiwi']

3. Create a list of names and remove one name from the list.

In [15]:
name = ["Rupali", "Dipali", "Riya"]
name.remove("Riya")
name

['Rupali', 'Dipali']

4. Create a list of 4 items and change the value at index 2.

In [17]:
city = ["Pune", "Mumbai", "Nagpure", "Kolhapur"]
city[1]="Delhi"
city

['Pune', 'Delhi', 'Nagpure', 'Kolhapur']

5. Make a list of numbers and print only the first three elements.

In [26]:
num = [3, 5, 7, 11, 13, 17]
print(num[:3])

[3, 5, 7]

6. Create a list of colors and find the index of a specific color.

In [27]:
color = ["Red", "Black", "Pink", "White"]

color.index("Pink")

2

7. Create a list of 10 numbers and print how many times “5” appears.

In [28]:
atr = [2, 5, 5, 7, 6, 5, 55, 35, 10, 25]
atr.count(5)

3

8. Make a list of 6 items and delete the item at index 3.

In [29]:
lst = [2, 4, 6, 77, 34, 23]
lst.pop(3)

77

9. Create a list of animals and add three more animals using extend().

In [32]:
animal = ["cat", "dog", "tiger", "lion"]
anl = ["horse", "bear", "wolf"]
animal.extend(anl)
animal

['cat', 'dog', 'tiger', 'lion', 'horse', 'bear', 'wolf']

10. Create a list and remove the last item using pop().

In [35]:
animal1 = ["cat", "dog", "tiger", "lion"]
animal1.pop()

'lion'

11. Create a list of prices and sort them in ascending order.

In [38]:
price = [14.4, 12, 11, 25, 17.07]
price.sort()
price

[11, 12, 14.4, 17.07, 25]

12. Make a list of countries and reverse the order of the list.

In [40]:
country = ["India", "UK", "USA", "France", "Italy"]
country.reverse()
country

['Italy', 'France', 'USA', 'UK', 'India']

13. Create a list of words and check if “apple” is in the list.

In [48]:
fruit = ["apple", "orange", "banana"]
any("apple")

True

14. Create a list of numbers and print the largest and smallest number.

In [62]:
num2 = [22, 33, 5, 0, 34, 2, 6]
max1 = max(num2)
min1 = min(num2)
print(max1)
min1

34

0

15. Make a list of 5 items and print each item using a loop.

16. Create two lists and combine them into one list.

In [54]:
Roll1 =[4, 6, 7]
Name = ["Rupali", "Dipali"]
Roll1 + Name

[4, 6, 7, 'Rupali', 'Dipali']

17. Make a list and replace the last item with a new value.

In [59]:
Roll1 =[4, 6, 7]
Roll1[-1]= 6
Roll1

[4, 6, 6]

18. Create a list of numbers and print only the even numbers.

In [68]:
S1 = [10, 11, 12, 13, 14]

for i in S1:
    if i%2==0:
        print(i)

10
12
14

19. Create a list and clear all items from the list.

In [44]:
clr = [3,4,5,6,7]
clr.clear()
clr

[]

20. Create a list of 5 values and copy it into another list.

In [61]:
country = ["India", "UK", "USA", "France", "Italy"]

countryupdate =country.copy()
countryupdate

['India', 'UK', 'USA', 'France', 'Italy']