### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
info = {"name":"John", "age":24, "city":"texas"}

### 2. Create a dictionary and print the value of a specific key.

In [ ]:
info["name"]

'John'

### 3. Create a list of 5 numbers and print the second element.

In [5]:
num = [1, 2, 3, 4, 5]
num[1]

2

### 4. Add an element "banana" to an existing list.

In [12]:
fruit = ["apple", "kiwi"]
fruit.append("banana")
fruit

['apple', 'kiwi', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [10]:
fruit = ["apple", "apple"]

fruit.insert(2, "banana")
fruit

['apple', 'apple', 'banana']

### 6. Remove the element 10 from a list.

In [13]:
Roll = [5, 10, 15, 20, 25, 30]
Roll.remove(10)
Roll

[5, 15, 20, 25, 30]

### 7. Create a tuple with 4 elements and print the last one.

In [15]:
city = ("pune", "mumbai", "Kolhapur", "satara")
city[-1]

'satara'

### 8. Convert a tuple into a list.

In [ ]:
city = ("pune", "mumbai", "Kolhapur", "satara")

### 9. Find the length of a given tuple.

### 10. Store 5 student names in a list and print them using a loop.

### 11. Create two lists and concatenate them.

In [19]:
Name = ["john", "roy"]
city = ["pune", "mumbai"]
Name + city

['john', 'roy', 'pune', 'mumbai']

### 12. Reverse a list without using reverse().

### 13. Sort a list in descending order.

In [31]:
Roll = [25, 10, 15, 20, 25, 30]
Roll.sort(reverse=True)
Roll

[30, 25, 25, 20, 15, 10]

### 14. Create a set with 5 numbers and add a new number.

In [36]:
num1 = {2, 3, 7, 4, 5}
num1
num1.add(8)
num1

{2, 3, 4, 5, 7, 8}

### 15. Remove an element from a set using discard().

In [38]:
idd = {2, 3, 7, 4, 5}
idd.discard(3)
idd

{2, 4, 5, 7}

### 16. Find the union of two sets.

In [39]:
id1 = {2, 3, 7, 4, 5}
id2 = {3, 4, 9, 11, 15}
id1.union(id2)

{2, 3, 4, 5, 7, 9, 11, 15}

### 17. Find the intersection of two sets.

In [40]:
id1 = {2, 3, 7, 4, 5}
id2 = {3, 4, 9, 11, 15}
id1.intersection(id2)

{3, 4}

### 18. Check if a value exists in a set.

In [42]:
id1 = {2, 3, 7, 4, 5}
21 in id1

False

### 19. Create a set and clear all elements.

In [44]:
name1 = {"john", "shon", "Ross"}
name1.clear()
name

set()

### 20. Convert a list with duplicate values into a set.

### 21. Create a dictionary and update the value of a key.

In [48]:
input = {"name":"christine", "city":"lowa", "company":"lil"}
input["company"] = "abc"
input

{'name': 'christine', 'city': 'lowa', 'company': 'abc'}

### 22. Delete a key-value pair from a dictionary.

In [50]:
input = {"name":"christine", "city":"lowa", "company":"lil"}
del input["city"]
input

{'name': 'christine', 'company': 'lil'}

### 23. Print all keys of a dictionary.

In [51]:
input = {"name":"christine", "city":"lowa", "company":"lil"}
input.keys()

dict_keys(['name', 'city', 'company'])

### 24. Print all values of a dictionary.

In [52]:
input = {"name":"christine", "city":"lowa", "company":"lil"}
input.values()

dict_values(['christine', 'lowa', 'lil'])

### 25. Loop through a dictionary and print key and value.

### 26. Create a list of numbers and print only even numbers.

In [57]:
roll = [11,12,13,14,15,16,17,16]
for i in roll:
    if i%2==0:
        print(i)

12
14
16
16

### 27. Create a tuple and unpack it into 3 variables.

In [ ]:
seq = (2,4,5,6,7,8)
seq.

### 28. Check if a number is greater than 10 using a comparison operator.

In [58]:
a = 15;
a>10

True

### 29. Use the in operator to check if "python" exists in a list.

In [61]:
word = ["hello", "world", "numbers", "python"]
any("python")

True

### 30. Use the and operator in a condition.

In [64]:
a =20
b =30
a > b and b == 30

False

### 31. Use the % operator to check if a number is divisible by 5.

In [68]:
x = 13
print(x%5==0 )

False

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [84]:
a=2
a**5

32

### 33. Create two numbers and compare them using >=.

In [69]:
a =20
print(a>20)
a>=20

False

True

### 34. Create a list and remove the last element using pop().

In [71]:
seq1 =[111, 222, 333]
seq1.pop();
seq1

[111, 222]

### 35. Create a list and print its first and last elements.

In [76]:
seq1 =[111, 222, 333]

print(seq1[0])
seq1[-1]

111

333

### 36. Count how many times "apple" appears in a list.

In [77]:
fruit = ["banans", "apple", "kiwi", "guava", "apple"]
fruit.count("apple")

2

### 37. Create a tuple and check if a value exists using in.

### 38. Convert a dictionaryâ€™s keys into a list.

In [86]:
input = {"name":"christine", "city":"lowa", "company":"lil"}
list1 = list[input]
list1

list[{'name': 'christine', 'city': 'lowa', 'company': 'lil'}]

### 39. Create a nested dictionary for a student (name, marks, subjects).

### 40. Merge two dictionaries into one.

In [87]:
input = {"name":"christine", "city":"lowa", "company":"lil"}
input1 = {"holiday":"sunday", "weekday":"all"}
input.update(input1)
input

{'name': 'christine',
 'city': 'lowa',
 'company': 'lil',
 'holiday': 'sunday',
 'weekday': 'all'}

### 41. Create a set and print the number of elements.

### 42. Create a dictionary and print all items using items().

In [89]:
input = {"name":"christine", "city":"lowa", "company":"lil"}
input.items()

dict_items([('name', 'christine'), ('city', 'lowa'), ('company', 'lil')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [94]:
num2 = [1,2,3,4,5,6,7,8,9,10]
for i in num2:
    print(i*i)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [95]:
a=10
b=20
print(a*b)

200

### 45. Divide two numbers and print the results using / and //.

### 46. Create a list and replace the element at index 1.

In [2]:
Lst = [2,5,6,7,8]
Lst[1]=4
Lst

[2, 4, 6, 7, 8]

### 47. Create a tuple from user input (3 values).

### 48. Create a set from a string and print all unique characters.

### 49. Use the is operator to compare two variables.

In [4]:
a = 20
b = 20
a is b

True

### 50. Create a dictionary and check if a key exists using in.

In [7]:
Grp = {"name":"john", "city": "New york"}
"name" in Grp

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [9]:
a = 35
a>10 and a<50

True

### 52. Check if a number is less than 5 or greater than 20 using or.

In [13]:
a =20;
a<30 or a>20

True

### 53. Use not to check if a list is not empty.

In [ ]:
lmt = []

### 54. Write code to check if a character is a vowel using or.

### 55. Check if a dictionary has both keys "name" and "age".

### 56. Verify if a set contains either 10 or 20.

### 57. Use not to check if a number is not equal to 100.

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

### 59. Use logical operators to check if a number is positive and even.

In [3]:
a = 40

### 60. Check if a tuple has more than 3 elements or contains the value 0.